@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-3xl;
	}

	html,
	body {
		@apply min-h-full;
		font-family: arial;
		font-weight: 400;
		line-height: normal;
	}
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		@apply bg-neutral-950;
		@apply text-neutral-100;
	}
}
